<h2>Stations:</h2>
<% @stations.each do |station| %>
	<ul class="station">
	<li class="name">Name: <%= station.name %></li>
	<li class="address">Address: <%= station.address %></li>
	<li class="fuel">Fuel Type: <%= station.fuel_type %></li>
	<li class="distance">Distance: <%= station.distance %></li>
	<li class="access-times">Access Time: <%= station.access_time %></li>
	</ul>
<% end %>
	